<div>
  <form [formGroup]="userForm">
    <div>
      <label for="firstName">Imię</label>
      <input type="text" id="firstName" formControlName="firstName" />
    </div>

    <div>
      <label for="lastName">Nazwisko</label>
      <input type="text" id="lastName" formControlName="lastName" />
    </div>

    <div>
      <label for="email">E-mail</label>
      <input type="text" id="email" formControlName="email" />
    </div>

    <div formArrayName="addresses">
      <h3>Adresy użytkownika</h3>

      @for (addressGroup of addresses.controls; track addressGroup; let i = $index) {
      <div [formGroupName]="i">
        <div>
          <label>Ulica</label>
          <input type="text" formControlName="street" />
        </div>

        <div>
          <label>Miasto</label>
          <input type="text" formControlName="city" />
        </div>
      </div>

      <button (click)="removeAddress(i)">Usuń adres</button>
      }

      <button (click)="addAddress()">Dodaj adres</button>
      <button (click)="clearAddresses()">Usuń wszystkie</button>
    </div>

    <button (click)="confirmForm()">Submit</button>
    <button (click)="resetForm()">Reset form</button>
  </form>
</div>
