@if (collection$ | async; as collection) {
  <section class="collection-detail">
    <h1>{{ collection.name }}</h1>

    <h2>Created at: {{ collection.createdAt }}</h2>

    <h2>Colors:</h2>
    <ul class="colors-list">
      @for (color of collection.colors; track color) {
        <li class="color-badge color-{{ color | lowercase }}">
          {{ color }}
        </li>
      }
    </ul>
    @if (isLoggedIn$ | async) {
      <div class="actions">
        <button class="action-button edit" routerLink="/collections/{{ collection.id }}/edit">
          Edit
        </button>
        <button class="action-button delete" (click)="delete()">Delete</button>
      </div>
    }

    <section class="cards">
      <ul class="cards-list">
        @for (card of collection.cards; track card) {
          <li>{{ card }}</li>
        }
      </ul>
    </section>

    <a routerLink="/collections">← Back to collections</a>
  </section>
}
