@if (collection$ | async; as collection) {
<section class="collection-detail">
  <h1>{{ collection.name }}</h1>

  <p>Created at: {{ collection.createdAt }}</p>

  <p>Colors:</p>
  <ul>
    @for (color of collection.colors; track color) {
    <li>{{ color }}</li>
    }
  </ul>

  <div class="actions">
    <button routerLink="/collections/{{ collection.id }}/edit">Edit</button>
    <button (click)="delete()">Delete</button>
  </div>

  <a routerLink="/collections">← Back to collections</a>
</section>
}
