<form [formGroup]="userForm" (ngSubmit)="submit()">
  <input formControlName="firstName" placeholder="imię" />
  <input formControlName="lastName" placeholder="nazwisko" />
  <input formControlName="email" placeholder="email" />

  <div formArrayName="addresses">
    <div *ngFor="let address of addresses.controls; let i = index" [formGroupName]="i">
      <input formControlName="street" placeholder="Ulica" />
      <input formControlName="city" placeholder="Miasto" />
      <input formControlName="zip" placeholder="00-000" />

      <button type="button" (click)="removeAddress(i)">Usuń</button>
    </div>
  </div>

  <button type="button" (click)="addAddress()">+ Dodaj adres</button>

  <button type="submit" [disabled]="userForm.invalid">Dodaj użytkownika</button>
</form>
