<div *ngFor="let post of posts" class="post-card">
  <h3 *ngIf="editingPostId !== post.id">
    {{ post.title | uppercase }}
  </h3>
  <input *ngIf="editingPostId === post.id" [(ngModel)]="newTitle" />
  <div class="post-content" *ngIf="editingPostId !== post.id">
    <h4>Content:</h4>
    <p>
      {{ post.content }}
    </p>
    <p>Created At: {{ post.createdAt | date : 'd MMMM y, HH:mm' }}</p>
    <p *ngIf="post.modifiedAt">Modified At: {{ post.modifiedAt | date : 'd MMMM y, HH:mm' }}</p>
  </div>
  <textarea *ngIf="editingPostId === post.id" [(ngModel)]="newContent"> </textarea>
  <hr />
  <button type="button" (click)="deletePost(post.id)">Delete</button>
  <button *ngIf="editingPostId !== post.id" type="button" (click)="enableEditing(post.id)">
    Edit
  </button>
  <button
    *ngIf="editingPostId === post.id"
    type="button"
    (click)="modifyPost(editingPostId, newTitle, newContent)"
  >
    Accept
  </button>
  <button *ngIf="editingPostId === post.id" type="button" (click)="cancelEditing()">Cancel</button>
</div>
<div class="pagination">
  <button (click)="prevPage()">Previous</button>

  <span> Page {{ postService.getCurrentPage() }} / {{ postService.getTotalPages() }} </span>

  <button (click)="nextPage()">Next</button>
</div>
