<div *ngFor="let user of userList" class="user-card">
  <h3>{{ user.name }} {{ user.surname }} (ID: {{ user.id }})</h3>
  <p><strong>Phone:</strong> {{ user.phoneNumber }}</p>
  <p><strong>Birth Year:</strong> {{ user.birthYear }}</p>
  <div class="address">
    <h4>Address:</h4>
    <p>
      {{ user.adress.street }} {{ user.adress.houseNumber
      }}{{ user.adress.appartmentNumber ? '/' + user.adress.appartmentNumber : '' }}
    </p>
    <p>{{ user.adress.postalCode }} {{ user.adress.city }}</p>
  </div>
  <hr />
  <button type="button" (click)="emitUserDelete(user.id)">Delete</button>
</div>
