<div class="collections-list">
  <section class="filters">
    <h3>Filters</h3>

    <div class="filter-group">
      <label>
        Filter by name
        <input
          type="text"
          placeholder="Search by name..."
          (input)="changeNameFilter($any($event.target).value)"
        />
      </label>
    </div>

    <div class="filter-group">
      <p>Filter by color</p>

      @for (color of colors; track color) {
        <label class="color-option color-{{ color | lowercase }}">
          <input
            type="checkbox"
            [checked]="(colorsFilter$ | async)?.has(color)"
            (change)="toggleColor(color)"
          />
          {{ colorLabels[color] }}
        </label>
      }
    </div>

    <div class="filter-group">
      <label>
        Sort by
        <select (change)="changeSort($any($event.target).value)">
          <option value="nameAsc">Name (A–Z)</option>
          <option value="nameDesc">Name (Z–A)</option>
          <option value="dateAsc">Date (oldest)</option>
          <option value="dateDesc">Date (newest)</option>
          <option value="mostCards">Most Cards</option>
          <option value="leastCards">Least Cards</option>
        </select>
      </label>
    </div>
  </section>

  <ul class="collection-items">
    @for (collection of viewCollections$ | async; track collection.id) {
      <li class="collection-item">
        <h2>{{ collection.name }}</h2>
        <ul class="colors-list">
          @for (color of collection.colors; track color) {
            <li class="color-badge color-{{ color | lowercase }}">
              {{ color }}
            </li>
          }
        </ul>
        <p>Card count: {{ collection.cards.length }}</p>
        <p>Created at: {{ collection.createdAt }}</p>
        <a [routerLink]="['/collections', collection.id]"> View details </a>
      </li>
    }
  </ul>
</div>
